<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='styles/formstyle.css') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='styles/formstyle.css') }}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" href="static/images/icon.png">
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='styles/formstyle.css') }}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>BA - Edit Profile</title>

    <style>.footer {
        position: fixed;
        margin-top: 10px;
        left: 0;
        bottom: 0;
        width: 100%;
        padding: 10px;
        color: white;
        text-align: center;
    }
    </style>
    <style>
    @media screen and (min-width : 0px) and (max-width :759px)
    {
        #content{
            width: 100%; min-height: 95vh; margin: auto; background-color: white; padding: 20px;
        }
    }

    @media screen and (min-width: 760px){
        #content{
            width: 750px; min-height: 95vh; margin: auto; background-color: white; padding: 20px;
        }
    }

    #payments {
        font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
        width: 100%;
        margin: auto;
    }

    #payments td {
        border: 2px solid white;
        padding: 8px;
        text-align: center;
    }

    #payments tr:nth-child(even){background-color: #f2f2f2;}

    #payments tr:hover {background-color: #ddd;}

    #payments th {
        padding-top: 6px;
        padding-bottom: 6px;
        text-align: center;
        background-color: #4c6791;
        color: white;
        border: 2px solid white;
    }
</style>


</head>
<body style="background-color:#eee">


<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <span class="navbar-brand">
            <a href="/login" color="white"><img src="/static/images/logo.png" width="40" height="30" class="d-inline-block align-top" alt="logo">
            <font color="white">Bangalore Administrator</font></span></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item">
                <a class="nav-link" href="/profile">Profile </a>
            </li>

            <li class="nav-item ">
                <a class="nav-link" href="/createrequestbutton">Create Request </a>
            </li>

            <li class="nav-item ">
                <a class="nav-link" href="/showrequests">Show Requests </a>
            </li>

            <li class="nav-item ">
                <a class="nav-link" href="/createcomplaintbutton">Create Complaint </a>
            </li>
           
            <li class="nav-item">
                <a class="nav-link" href="/showcomplaint">Show Complaints</a>
            </li>
        
            <li class="nav-item ">
                <a class="nav-link" href="/paymentsbutton">Payments </a>
            </li>

            <li class="nav-item ">
                <a class="nav-link" href="/adminprofile">Administrator </a>
            </li>
                
             <li class="nav-item ">
                <a class="nav-link" href="/faq">FAQ </a>
            </li>
            <li class="nav-item ">
                <a class="nav-link" href="/user">View Citizens </a>
            </li>
                
        </ul>



        <div class="btn-group">
            {% for item in surname %}
            <button type="button" class="btn btn-light">{{item[0]}} {{item[1]}}
               </button> {% endfor %}
            <button type="button" class="btn  btn-light dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="sr-only"> Toggle Dropdown</span>
            </button>
            <div class="dropdown-menu  dropdown-menu-right">
                <a class="dropdown-item" color="black" href="/editprofilebutton">Edit Profile</a>
                <a class="dropdown-item" color="black" href="/logout">Log Out</a>
            </div>
        </div>
    </div>
</nav>




<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
   
    <link rel="icon" href="Foto/icon.png">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="formstyle.css" rel="stylesheet">

</head>
<body style="background-color: lightblue;">


<div class="wrapper">
    <form class="form-signin" method="post" action="/editprofile">
        <h2 class="form-signin-heading">Edit Profile Data</h2>

        Name:
        <input type="text" class="form-control" name="name" placeholder="Enter Name" autofocus=""/>

        Surname:
        <input type="text" class="form-control" name="surname" placeholder="Enter Surname" autofocus=""/>

        <div id="fam">
            Number of Members:
            <input type="number" class="form-control" name="members" id="mem" placeholder="Number of Family Members" />
            
        </div>

        Email:
        <input type="email" class="form-control" name="email" placeholder="Enter Email ID" autofocus=""/>
        
        Password:
        <input type="password" class="form-control" name="password" placeholder="Password"/>
        
        Phone:
        <input type="text" class="form-control" name="phone" placeholder="Phone number +91 format" autofocus=""/>
        
        Address:
        {% for item in data %}
        <input type="text" class="form-control" value="{{item[0]}}" name="address" autofocus=""
               disabled/>
        <br>
        {% endfor %}

        <button class="btn btn-lg btn-dark btn-block" type="submit" name="submit">Save Changes</button>

    </form>


</div>
<footer class="footer bg-dark" >
    <div class="container">
        <span class="text-muted">&copy; Rohan Chaudhari, Ritik Kumar, Rohan Sahu, Pranav Pahwa, Parth Krishna, Rahul Sharma, Raghav Goel</span>
    </div>
</footer>

</body>
</html>
